#ss{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: rgb(7, 243, 18);
    margin-left: 5cqmax;
}
#sss{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color:rgb(7, 89, 243);
    margin-left: 3cqmax;
}
#na{
    margin-left: 6cqmax;
}
#na1{
    margin-left: 6cqmax;
}
#na2{
    margin-left: 6cqmax;
}
#na3{
    margin-left: 6cqmax;
}
#na4{
    margin-bottom: 100cqmax;
}
.divone{

}



