#f1{
    margin-left: 12cqmax;
}
#f2{
    margin-left: 11.8cqmax;
}
#f3{
    margin-left: 12.2cqmax;
}
#f4{
    margin-left:12cqmax;
}
#f5{
    margin-left: 12.2cqmax;
}
#f6{
    margin-left: 11.8cqmax;
}
#b1{
    margin-left: 6cqmax;
}
#b2{
    margin-left: 5.6cqmax;
}
#b3{
    margin-left: 5.7cqmax;
}
#b4{
    margin-left: 8cqmax;
}
#b5{
    margin-left: 4.4cqmax;
}
#b6{
    margin-left: 2cqmax;
}
#b7{
    margin-left: 8.3cqmax;
}
#b8{
    margin-left: 8cqmax;
}
#b9{
    margin-left: 8.5cqmax;
}
#b10{
    margin-left: 4.5cqmax;
}
#b11{
    margin-left: 6.5cqmax;
}
#b12{
    margin-left: 6cqmax;
}
#c1{
    font-size:xx-large;
    margin-top: 4cqmax;
}
#c2{
    margin-bottom: 5cqmax;
    font-size: xx-large;
}
#l1{
    border-radius: 120px;
    height: 50px;
    width: 100px;
    background-color: rgb(86, 6, 246);
    font-size:medium;
}


