.container{
    /* border: solid; */
    height: 1500px;
}
.navi{
    /* border: solid lightcoral; */
    display: flex;
    justify-content: space-around;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.purchase{
    background-color: grey;
    /* border: solid coral; */
    height: 250px;
    /* text-decoration-color: rgb(3, 15, 26); */
}
#box1{
   padding: 10px;
    text-align: center;
    line-height: 50px;
    font-size:xx-large;
}
#lol1{
    text-align: justify;
}
.content{
    /* border: solid lightcoral; */
    height: 200px;
}
#text{
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
#box2{
    background-color:navy;
    border: solid;
    height: 120px;
    width: 150px;
    padding: 10px;
    text-align: center;
    line-height: 120px;
}
.new{
    background-color: grey;
    /* border: solid lightcoral; */
    height:200px;
}
#update{
    text-align: center;
    line-height: 90px;
    font-size: xx-large;
}
#lol{
    text-align: justify;
}
#pro{
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}
.clms{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
}
#row{
    border: solid;
    height: 180px;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height:150px ;
}

