.container{
    border: solid green 2px;
    height: 626px;
}
#head{
    border: solid orange 2px;
    height: 100px;
}
#navi{
    border: solid gold 2px;
    height: 60px;
}
.content{
    border: solid yellow 2px;
    height: 400px;
    display: flex;
}
#foot{
    border: solid green 2px;
    height: 50px;
}
body{
    margin: 0;
}
#left{
    width: 50%;
    border: solid;
}
#right{
    width: 50%;
    border: solid;
}
#one{
    height: 200px;
   
}
#two{
    height: 200px;
    border-top: solid;
}